@font-face {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/karla-v33-latin-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/fira-code-v27-latin-regular.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #1c1c1c;
  font-family: 'karla', sans-serif, Verdana;
  overflow-x: hidden;
}

.hidden {
  opacity: 0;
  transform: translateY(80px) scale(.95);
  transition:
    opacity .8s cubic-bezier(.17, .55, .55, 1),
    transform .8s cubic-bezier(.17, .55, .55, 1);
  will-change: opacity, transform;
}

.show {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.cursor-shadow {
  position: fixed;
  width: 60px;
  height: 60px;
  border-radius: 50%;

  pointer-events: none;
  z-index: 9999;

  transform: translate(-50%, -50%);

  background: radial-gradient(circle,
      #3dcfb6 0%,
      #3dcfb6 15%,
      #08463b 90%,
      rgba(8, 70, 59, 0) 100%);

  filter: blur(20px);

  transition: transform 0.1s ease-out;
}

html.scroll-restore-pending,
body.scroll-restore-pending {
  visibility: hidden !important;
}

#testimonial-container,
#technologies-container,
.projects-container {
  overflow-anchor: none;
}