.contactme .section-title{
    font-size: 24px;
    font-weight: 700;
    color: #3dcfb6;
    margin-bottom: 14px;
    display: inline-block;
}

.contact-header{
    font-size: 52px;
    font-weight: 700;
    color: #3dcfb6;
    line-height: 1.1;
    padding-bottom: 20px;
}

div .title{
    font-size: 24px;
    font-weight: 700;
    color: #3dcfb6;
    padding-bottom: 14px;
}

.contact-motivation{
    color: rgb(255, 255, 255);
    font-size: 18px;
    line-height: 1.4;
    padding-bottom: 14px;
}

.question-text{
    color: rgb(255, 255, 255);
    font-size: 18px;
   padding-bottom: 14px;

}

.question-text span{
    color: #3dcfb6;
}

.contact-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
    padding-bottom: 100px;
}

 .text-container,
 .contact-form{
        flex: 1;
    }

/* -------------------Contqact-form */

.contact-form form{
    display: flex;
    justify-content:center;
    flex-direction: column;
    /* min-width: 500px; */
}

.form-content label{
    font-size: 24px;
    font-weight: 500;
    color: #3dcfb6;
    margin-bottom: 14px;
    display: inline-block;
}

.form-content input{
    font-size: 18px;
    color: white;
    background: none;
    border: none;
    outline: none;
    padding-bottom: 40px;
}

.form-content textarea{
    font-size: 18px;
    color: white;
    background: none;
    border: none;
    outline: none;
    padding-bottom: 40px;
    overflow-y: hidden;
    /* resize: none; */

}

.form-content input:focus,
.form-content textarea:focus {
    outline: none;
    border-color: #3dcfb6;

}

.form-content .name, .email, .textarea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 1px solid #3dcfb6;
    border-bottom: 1px solid #3dcfb6;
    padding: 30px 0 0 30px;

}

.contact-form .button{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.form-content button{
    padding: 12px 24px;
    border: 1px solid #ffffff;
    border-radius: 40px;
    color: white;
    background: transparent;
    font-size: 16px;
    font-weight: 500;
    transform: 0.3 ease;
    cursor: pointer;

}

.form-content button:hover {
    border-color: #3dcfb6;
    color: #3dcfb6;
}

.privacy-policy div{
    display: flex;
    align-items: center;
    padding-bottom: 24px;
    gap: 10px;
    padding-top: 50px;
}

.privacy-policy p{
    font-size: 16px;
    color: white;
}

.privacy-policy a{
    color: #3dcfb6;
    text-decoration: none;
}

input.error-placeholder::placeholder,
textarea.error-placeholder::placeholder {
    color: #b33 !important;
    opacity: 1;
}

input::placeholder,
textarea::placeholder {
    color: rgba(255,255,255,0.5);
}

.form-content .error-message{
    outline: none;
    color:#b33;
    background: transparent;
    font-size: 16px;
}

.privacy-policy .error-message{
    padding-top: 0px;
}





@media (max-width: 992px){
    .contact-wrapper{
        flex-direction: column;
        align-items: stretch;
    }

    .text-container, 
    .contact-form{
        width: 100%;
    }

    .contact-form form{
        width: 100%;
    }
}

