.comments {
    padding-block: 140px;
    overflow: hidden;
}

.comments-header {
    text-align: center;
    margin-bottom: 60px;
}

.comments-header h3 {
    font-size: 46px;
    color: #3dcfb6;
    font-weight: 700;
}

.testimonial-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.testimonial-viewport {
    width: 100%;
    max-width: 996px;
    /* overflow: hidden; */
    position: relative;
}

.testimonial-slider {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    gap: 76px;
    transition: transform 0.5s ease;
    padding-bottom: 40px;
}

.testimonial-card {
    background: rgba(71, 224, 199, 0.15);
    border: 1px solid #3dcfb6;
    border-radius: 32px;
    padding: 60px;
    position: relative;
    backdrop-filter: blur(6px);
    opacity: 0.4;
    transform: scale(0.9);
    transition: all 0.4s ease;
    width: auto;
}

.testimonial-card.active {
    opacity: 1;
    transform: scale(1);
}


.testimonial-card::before {
    content: '';
    position: absolute;
    inset: 0;
    box-shadow: 0 0 20px rgba(61, 207, 182, 0.15);
    border-radius: 32px;
}

.quote-mark {
    position: absolute;
    left: -50px;
    top: -10px;
    z-index: 100;
    pointer-events: none;
}

.quote-mark img {
    width: 100px;
}


.testimonial-text {
    font-size: 28px;
    line-height: 1.6;
    color: white;
    margin-bottom: 50px;
    /* max-width: 700px; */
}

.testimonial-footer {
    display: flex;
    align-items: center;
    gap: 20px;
}

.testimonial-footer .line {
    width: 100%;
    max-width: 500px;
    height: 1px;
    background: white;
}

.testimonial-footer span {
    color: #d9d9d9;
    font-size: 20px;

}

/* --------------------buttons */

.slider-btn-left,
.slider-btn-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    color: white;
    font-size: 28px;
    cursor: pointer;
    gap: 12px;
}


.slider-btn-left img {
    height: 50px;
}

.slider-btn-right img {
    height: 50px;
}

.slider-btn-right:hover img {
    transform: translateX(5px) scale(1.1);
    filter: brightness(0) saturate(100%) invert(73%) sepia(29%) saturate(614%) hue-rotate(118deg) brightness(140%) contrast(100%);
}

.slider-btn-left:hover img {
    transform: translateX(-5px) scale(1.1);
    filter: brightness(0) saturate(100%) invert(73%) sepia(29%) saturate(614%) hue-rotate(118deg) brightness(140%) contrast(100%);
}

.slider-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-top: 40px;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: white;
    transition: 0.3s ease;
}

.dot.active {
    color: #3dcfb6;
    background: #3dcfb6;
    box-shadow: 0 0 5px #3dcfb6;
}

/* ------------------Responsive */

@media (max-width:768px) {
    .comments-header h3 {
        font-size: 34px;
    }

    .testimonial-card {
        padding: 40px 24px;
    }

    .testimonial-text {
        font-size: 20px;
    }

    /* .quote-mark{
        font-size: 40px;
    } */

    .testimonial-footer {
        flex-direction: column;
        align-items: flex-start;
    }

    .testimonial-footer .line {
        width: 120px;
    }

}

@media (max-width: 600px) {
    .testimonial-text {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .testimonial-text {
        font-size: 16px;
        padding-top: 30px;
        margin-bottom: 30px;
    }

    .slider-dots {
        gap: 16px;
    }

    .dot {
        width: 8px;
        height: 8px;
    }

    .slider-btn-left img,
    .slider-btn-right img {
        height: 40px;
    }

}

@media (max-width: 430px) {
    .comments-header h3 {
        font-size: 24px;
    }
}